<!-- The footer at the very bottom of the screen -->
<footer class="footer section-padding">
  <div class="grid">
    <div class="subscribe" id="subscribe">
      <div class="subscribe__container">
        <span class="subscribe__title">By Emma, 陈盈</span>
        <p class="subscribe__text">Tell me a joke.</p>
      </div>
    </div>

    <hr class="sep--white"/>
  </div>
</footer>

<!-- {% include contact.html %} -->

{% include pagination.html %}


<script src="{{ '/assets/js/app.min.js' | prepend: site.baseurl }}"></script>
